.box{
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid;
    border-top: 2px solid chartreuse;
    border-right:2px dotted blue;
    margin: 20%;
    
}
table, th, td {
    border:5px solid green;
    border-collapse: collapse;
    margin-bottom: 50%;
  }
  .table{
    justify-content: center;
    display: flex;
    top:-50%;
  }